* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 50px;
}

main {
    background: red;
    padding: 10px;
    height: 100%;
}

.cont {
    background: red;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.container {
    background: lawngreen;
    position: fixed;
    top: 68px;
    height: 823px;
    left: 250px;
    width: 750px;
    border: 1px solid black;
}

.yellow1 {
    background: yellow;
    position: fixed;
    top: 87px;
    width: 515px;
    height: 194px;
    left: 268px;
    border: 1px solid black;
}

.yellow2 {
    background: yellow;
    position: fixed;
    top: 93px;
    height: 187px;
    width: 156px;
    left: 810px;
    border: 1px solid black;
}

.yellow3 {
    background: yellow;
    position: fixed;
    top: 317px;
    height: 193px;
    width: 186px;
    left: 275px;
    border: 1px solid black;
}

.yellow4 {
    background: yellow;
    position: fixed;
    top: 310px;
    width: 483px;
    height: 200px;
    left: 491px;
    border: 1px solid black;
}

.blue1 {
    background: blue;
    position: fixed;
    top: 540px;
    width: 335px;
    left: 275px;
    height: 186px;
    border: 1px solid black;
}

.blue2 {
    background: blue;
    position: fixed;
    top: 525px;
    width: 335px;
    left: 639px;
    height: 201px;
    border: 1px solid black;
}

.pink {
    background: deeppink;
    position: fixed;
    top: 742px;
    width: 698px;
    left: 275px;
    height: 139px;
    border: 1px solid black;
}